BuildGen/
build/

*~.nib
*.swp

.DS_Store

*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

Thumbs.db
Desktop.ini

.metadata

*.pyc
*.o
*.class
*.apk

gen/
local.properties
*.orig
